@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  padding-top: 70px;
}

.toastcontainer {
  height: 50px;
}
.navbar {
  background: black;
}
#dropdown {
  background: #86e3f1;
}
.nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
}
@media screen and (max-width: 700px) {
  .navbar {
  }
  .nav-link {
    margin-left: 40%;
  }
  .nav-item {
  }
}
.nav-link {
  transition: 0.3s; /* Animation */
}
.nav-link:hover {
  color: #feee00;
}

.toaster {
  height: 50px;
}

#landing {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
