@import url("https://fonts.googleapis.com/css?family=Lemonada&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
body {
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
#jumbo {
  background-image: url(./img/jumbo.jpg);
  background-size: cover;
  height: 100vh;
}
#catch {
  font-family: "Luckiest Guy";
  font-size: 100px;
}
#h22 {
  font-size: 50px;
  font-weight: 700;
  color: black;
  font-family: "Josefin Sans";
  letter-spacing: 1px;
}

#btns {
  font-size: 30px;
  margin: 5px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #FEEE00;
  border: 0px;
  font-family: "Josefin Sans";
  font-weight: 900;
  color: black;
}
@media screen and (max-width: 700px) {
  #catch {
    font-family: "Luckiest Guy";
    font-size: 50px;
  }
  #btns {
    font-size: 20px;
  }
  #h22 {
    margin-top: 20px;
    font-size: 24px;
    position: relative;
  }
}
