#productcard {
  transition: transform 0.3s; /* Animation */
  border-radius: 8px;
  border: 0px;
}
#productcard:hover {
  transform: scale(1.08);
}
.card-title{
  padding: 20px !important;
}
#btn {
  background-color: #3D2F49;
  transition: transform 0.2s;
  border: 0px;
  color: white;
}
#h2 {
  font-size: 50px;
  text-align: center;
  background-color: #FEEE00;
  margin-top: 10px;
  color: black;
  padding: 20px;
  border-radius: 50px;
  transition: transform 0.2s;
}
#h2:hover {
  transform: scale(1.1);
}
#btn:hover {
  transform: scale(1.2);
}

#title {
  text-decoration: none;
}
.product-price {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 2px;
  color: black;
}
#titlet {
  background-color: #FEEE00;
  position: relative;
  padding: 5px;
  padding-left: 1px;
  padding-right: 2px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  color: black;
  margin-bottom: 0;
}
.desc {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.imog {
  max-height: 250px;
  min-height: 250px;
}
